In [2]:
team = []
# Iterate over the 4 teams to create 4 empty lists referring to each of the 4 teams
for i in range(4):
    team.append([])
# Iterate over the 28 players. Then check to which team each person belongs to
for person in range(1, 29):
    for i in range(4):
        if person % 4 == i:
            team[i].append(person)
# Print the team number with a list of persons belonging to each team
for i in range(4):
    print("Team {} are persons {}".format(i, team[i]))

Team 0 are persons [4, 8, 12, 16, 20, 24, 28]
Team 1 are persons [1, 5, 9, 13, 17, 21, 25]
Team 2 are persons [2, 6, 10, 14, 18, 22, 26]
Team 3 are persons [3, 7, 11, 15, 19, 23, 27]

In [20]:
answer = "is_this_an_error'

SyntaxError: EOL while scanning string literal (<ipython-input-20-8907fbd58759>, line 1)

In [4]:
import random
random_number = random.randint(1, 20)
random_number

7

In [5]:
l = ["Tarek", 88]
"Tarek" in l

True

In [6]:
ast_semester_gradebook = [("politics", 80), ("latin", 96), ("dance", 97), ("architecture", 65)]

# Your code below: 
subjects = ["physics", "calculus", "poetry", "history"]

grades = [98, 97, 85, 88]

gradebook = [list(a) for a in zip(subjects, grades)]
print(gradebook)

gradebook.append(["Computer Science", 100])
print(gradebook)

gradebook.append(["Visual Arts", 93])
print(gradebook)
for row in gradebook:
  if "Visual Arts" in row:
    index = gradebook.index(row)
    score = row[1] + 5
  
gradebook[index][1] = score
print(index, score, end = ' ')
print(' ')
print(gradebook)
print(' ')

for row in gradebook:
  if "poetry" in row:
    index = gradebook.index(row)

gradebook[index].remove(85)
print(gradebook)
gradebook[index].append("Pass")
print(gradebook)

[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88]]
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['Computer Science', 100]]
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['Computer Science', 100], ['Visual Arts', 93]]
5 98
[['physics', 98], ['calculus', 97], ['poetry', 85], ['history', 88], ['Computer Science', 100], ['Visual Arts', 98]]

[['physics', 98], ['calculus', 97], ['poetry'], ['history', 88], ['Computer Science', 100], ['Visual Arts', 98]]
[['physics', 98], ['calculus', 97], ['poetry', 'Pass'], ['history', 88], ['Computer Science', 100], ['Visual Arts', 98]]

In [9]:
data_science_topics = ["Machine Learning", "SQL", "Pandas", "Algorithms", "Statistics", "Python 3"]

# Remove Python 3 and Algorithms from the above list using a for loop and if statement, and the list method pop()
for ele in data_science_topics:
    if ele == "Python 3" or ele == "Algorithms":
        data_science_topics.pop(data_science_topics.index(ele))

print(data_science_topics)

['Machine Learning', 'SQL', 'Pandas', 'Statistics']

In [1]:
suitcase = ["shirt", "shirt", "pants", "pants", "pajamas", "books"]
middle = []
indices = [index for index, ele in enumerate(suitcase) if ele == 'pants']
for index in indices:
  middle.append(suitcase[index])

print(middle)

['pants', 'pants']

In [2]:
# List methods
inventory = ["twin bed", "twin bed", "headboard", "queen bed", "king bed", "dresser", "dresser", "table", "table", "nightstand", "nightstand", "king bed", "king bed", "twin bed", "twin bed", "sheets", "sheets", "pillow", "pillow"]

inventory_len = len(inventory)

first = inventory[0]
last = inventory[-1]
inventory_2_6 = inventory[2:6]
first_3 = inventory[:3]
twin_beds = inventory.count("twin bed")
removed_item = inventory.pop(4)
inventory.insert(10, "19th Century Bed Frame")

inventory.sort()
print(inventory)

['19th Century Bed Frame', 'dresser', 'dresser', 'headboard', 'king bed', 'king bed', 'nightstand', 'nightstand', 'pillow', 'pillow', 'queen bed', 'sheets', 'sheets', 'table', 'table', 'twin bed', 'twin bed', 'twin bed', 'twin bed']

In [3]:
# Your code below:
toppings = ["pepperoni", "pineapple", "cheese", "sausage", "olives", "anchovies", "mushrooms"]

prices = [2, 6, 1, 3, 2, 7, 2]

num_two_dollar_slices = prices.count(2)
print(num_two_dollar_slices)

num_pizzas = len(toppings)

print("We sell {} different kinds of pizza!".format(num_pizzas))

pizza_and_prices = [list(a) for a in zip( prices, toppings)]
print(pizza_and_prices)

pizza_and_prices.sort()
print(pizza_and_prices)

cheapest_pizza = pizza_and_prices[0][1]
print(cheapest_pizza)

priciest_pizza = pizza_and_prices[-1][1]
print(priciest_pizza)

pizza_and_prices.pop()
# print(pizza_and_prices)
pizza_and_prices += [[2.5, "peppers"]]
# print(pizza_and_prices)
pizza_and_prices.sort()
print(pizza_and_prices)

three_cheapest = pizza_and_prices[:3]
print(three_cheapest)

3
We sell 7 different kinds of pizza!
[[2, 'pepperoni'], [6, 'pineapple'], [1, 'cheese'], [3, 'sausage'], [2, 'olives'], [7, 'anchovies'], [2, 'mushrooms']]
[[1, 'cheese'], [2, 'mushrooms'], [2, 'olives'], [2, 'pepperoni'], [3, 'sausage'], [6, 'pineapple'], [7, 'anchovies']]
cheese
anchovies
[[1, 'cheese'], [2, 'mushrooms'], [2, 'olives'], [2, 'pepperoni'], [2.5, 'peppers'], [3, 'sausage'], [6, 'pineapple']]
[[1, 'cheese'], [2, 'mushrooms'], [2, 'olives']]

In [4]:
# Tuples
my_info = ('Tarek', 43, "M&E Officer")
name, age, occupation = my_info
name

'Tarek'

In [5]:
# One element tuple
one_element_tuple = (4,)